<section id="search">
    <h1>Find an article</h1>
    <form action="/articles/search">
        <input type="search" name="term" placeholder="Title...">
        <input type="submit" value="Search">
    </form>
</section>